@model shoppingAppMVC5._0_EF.Models.EF.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PIsInStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PIsInStock)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
